    .parti {
        height: 30vh;
        border: 2px solid;
        width: 25vw;
        background-color: white;
    }
    
    .survol {
        background-color: blue;
        color: white;
        padding: 0em 1em;
        text-align: center;
    }
    
    .conteneur {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 76vh;
        background-color: rgba(30, 184, 189, 0.972);
        overflow: hidden;
    }
    
    .bouton {
        display: flex;
        flex-direction: column;
    }
    
    .ok {
        margin: 1em;
        width: 9em;
        height: 4vh;
    }
    
    header {
        text-align: center;
        background-color: blue;
        padding: 1em 2em;
        color: white;
        font-size: 1em;
    }
    
    footer {
        text-align: center;
        background-color: blue;
        padding: 1em 2em;
        color: white;
        font-size: 1em;
    }
    
    p {
        font-size: 1.5em;
    }